:root{
    --preto: black;
    --branco:aliceblue;
    --verde: rgb(6, 104, 6);
}

body{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#wrrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: var(--branco);
}

#destaque{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

p{
    margin-bottom: 48px;
}

#topicos,#banner h1{
    color: var(--branco);
    margin-bottom: 40px;
    font-size: 30px;
}

#container{
    padding: 40px 0;
    background: var(--branco);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#banner {
    background-image: url(/images/robin-wersich-Q0IrpWQIMR4-unsplash.jpg);
}

#banner h1{
    color: var(--branco);
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform:uppercase;
    text-shadow: 2px 2px 4px #000000;
}
#topicos{
    background-image: url(/images/kelly-sikkema-iu3MkDoQXDM-unsplash.jpg);
}

header{
    border-bottom: 1px solid green !important;
}